<% flash.each do |message_type, message| %>
<%= message %>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-sm12 col-md8 px-5 px-sm-0 mx-auto">
      <p></p>
      <h1 class="top"><span class="span">welcome to </span><i class="fas fa-book"></i><string> Bookers</string>!!</h1>
      <div class="main">
        <p><span class="span">In <i class="fas fa-book"></i> <string>Bookers,<string></string></span></p>
        <p><span class="span">you can share and exchange your opinions , inpressions , and emotions</span></p>
        <p><span class="span">about various books!</span></p>
      </div>
      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
          <%= link_to 'Log in', user_session_path, class: "btn btn-secondary btn-sm btn-block md-3" %>
        </div>
        <p>
        </p>
        <div class="row">
          <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-success btn-sm btn-block md-3" %>
        </div>
      </div>
    </div>
  </div>
</div>